<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="true">
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d-%c-%M-%t-%p: %m%n</pattern>
            <!--<pattern>%d-%replace(%caller{1}){'\r\n',''}-%t-%p: %m%n</pattern>-->
        </encoder>
    </appender>


    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/all.log</File>
        <Append>true</Append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>log/all-%d{yyyy-MM-dd,aux}/all-%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
            <maxFileSize>32MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d-%c-%M-%t-%p: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="ERRORFILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>log/error/error.log</File>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d-%c-%M-%t-%p: %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>log/error/error-%d{yyyy-MM-dd,aux}/error-%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
            <maxFileSize>32MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="CODEC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>log/data/codec.log</File>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d-%c-%M-%t-%p: %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>log/data/codec-%d{yyyy-MM-dd,aux}/codec-%d{yyyy-MM-dd}.%i.zip</FileNamePattern>
            <maxFileSize>32MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!--解码器异步输出 -->
    <appender name="CodecAsyncFile"
              class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender-ref ref="CODEC"/>
    </appender>

    <!--编解码器日志拦截-->
    <!--<logger name="com.rtucloud.gateway.device.manager.codec">-->
    <!--<appender-ref ref="CODEC"/>-->
    <!--</logger>-->

    <!-- 编解码器日志拦截 -->
    <logger name="com.rtucloud.cs.proxy.codec">
        <appender-ref ref="CodecAsyncFile"/>
    </logger>


    <!--所有日志异步输出 -->
    <appender name="AsyncFile" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERRORFILE"/>
    </appender>
    <logger name="io.netty" level="error"/>
    <logger name="org.springframework" level="error"/>
    <logger name="com.zaxxer.hikari" level="error"/>
    <logger name="reactor" level="error"/>
    <logger name="de.codecentric" level="error"/>
    <logger name="org.hibernate" level="error"/>
    <logger name="org.thymeleaf" level="error"/>
    <logger name="org.apache.juli" level="off"/>
    <logger name="org.apache.catalina" level="off"/>


    <root level="DEBUG">
        <appender-ref ref="AsyncFile"/>
        <!--        <appender-ref ref="CONSOLE"/>-->
        <!--        <appender-ref ref="FILE"/>-->
        <!--        <appender-ref ref="ERRORFILE"/>-->

    </root>

</configuration>  
